.firstBadge {
    border-radius: 15px;
    padding: 3px 10px;
    background-color: #31d2f2;
    margin-left: 0;
}

.badge {
    border-radius: 15px;
    padding: 3px 10px;
    background-color: #31d2f2;
    margin-left: 10px;
}

.hidden {
    display: none;
}